@model MyTunes.Models.User

<h1>Register</h1>
<form method="post" style="text-align: center;">
    <label for="username" style="display: inline-block; width: 100px;">Login:</label>
    <input type="text" id="username" name="username"/> <br/> <br/>
    <label for="password1" style="display: inline-block; width: 100px;">Password:</label>
    <input type="password" id="password1" name="password1"/> <br/>
    <label for="password2" style="display: inline-block; width: 100px;">Confirm password:</label>
    <input type="password" id="password2" name="password2"/> <br/> <br/>
    <input type="submit" value="Submit" asp-page-handler="Submit" /><br/> 
    <div class="message">@ViewData["Message"]</div>
</form>
